body {
    padding-top: 80px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.user-menu {
    display: flex !important;
    flex-wrap: nowrap !important;
    float: right !important;
    margin: 0;
}
.user-menu li {
    display: inline-block !important;
    float: none !important;
}
.user-menu .navbar-text {
    color: #fff;
    padding: 15px 10px;
    line-height: 20px;
}
.user-menu li a {
    padding: 15px 10px;
}