{% extends "app/layout.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/content/about.css' %}">
{% endblock %}

{% block content %}
<div class="about-page">
    <h3>{{ message }}</h3>

    <p class="text">
        EduFlow — это современная образовательная библиотека, созданная для тех, кто никогда не останавливается на достигнутом.
        Мы вдохновлялись лучшими мировыми практиками (такими как Udemy), чтобы создать пространство, где качество контента встречается с удобством использования.
    </p>

    <h3>Почему EduFlow?</h3>
    <ul id="list1">
        <li><i>Состояние потока: Интуитивный интерфейс, который не отвлекает от учебы.</i></li>
        <li><i>Доступ навсегда: Купите курс один раз и возвращайтесь к материалам в любое время.</i></li>
        <li><i>Гибкость: Учитесь с телефона, планшета или компьютера в удобном темпе.</i></li>
    </ul>

    <h3>Для экспертов</h3>
    <p class="text">
        Вы эксперт в своем деле? Поделитесь опытом с миром и монетизируйте свои знания на EduFlow.
        Мы предоставляем вам инструменты для создания, хостинга и продвижения вашего контента, пока вы сосредоточены на нем.
    </p>

    <ul id="list2">
        <li><b>Глобальная аудитория: Выход на рынок с миллионами потенциальных студентов.</b></li>
        <li><b>Техническая свобода: Загружайте видео, тесты, задания и ресурсы без ограничений.</b></li>
        <li><b>Выгодные условия: Конкурентная модель распределения прибыли.</b></li>
    </ul>
</div>
{% endblock %}