{% extends "app/layout.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/content/login.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row-justify-content-center">
        <div class="col-md-8">
            
            <div class="form-card resources">
                <h3 style="color: #fff; text-shadow: none; margin-top: 0; text-align: center;">Вход в систему: </h3>
                <section id="loginForm">
                    <form action="." method="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="id_username">Имя пользователя (логин):</label>
                            <div>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id_password">Пароль:</label>
                            <div>
                                {{ form.password }}
                            </div>
                        </div>

                        <div class="form-group" style="border-bottom: none;">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Войти" class="mybutton" />
                        </div>

                        {% if form.errors %}
                        <p class="validation-summary-errors" style="color: red; margin-top: 1rem; font-weight: bold;">
                            Пожалуйста, введите корректные имя пользователя и пароль.
                        </p>
                        {% endif %}
                    </form>
                </section>
            </div>

            <div class="col-md-4" style="display:none;"> 
                <section id="socialLoginForm"></section>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}